.mbox{
    width:85px;
    height:85px;
}
.alabama {
    background: #af002a
}

.amaranth {
    background: #d3212d
}

.alizarin {
    background: #E32636
}

.imperial-blue {
    background: #6E6Ef9
}

.university {
    background: #c00
}

.cerulean {
    background: #1dacd6
}

.lilac {
    background: #d891Ef
}

.bronze {
    background: #cd7f32
}

.viridian-green {
    background: #009698
}

.yellow {
    background: #ffba00
}

.kelly-green {
    background: #4cbb17
}

.lava {
    background: #cf1020
}

.violet {
    background: violet
}

.cadmium {
    background: #Ed872d
}

.rich-carmine {
    background: #d70040
}

.ball-blue {
    background: #21abcd
}

.charcoal {
    background: #36454f
}

.lime-green {
    background: #32cd32
}

.cg-blue {
    background: #007aa5
}

.crimson {
    background: #dc143c
}

.cyan-cornflower {
    background: #188bc2
}

.dark-cyan {
    background: #008b8b
}

.dark-pink {
    background: #E75480
}

.debian-red {
    background: #d70a53
}

.bleu-de-france {
    background: #318cE7
}

.fuchsia {
    background: #c154c1
}

.forest-green {
    background: #228b22
}

.go-green {
    background: #00ab66
}

.azure {
    background: #007fff
}

.american-rose {
    background: #ff033E
}

.amber {
    background: #ff7E00
}

.green-pantone {
    background: #00ad43
}

.orange-pantone {
    background: #ff5800
}

.burnt-orange {
    background: #c50
}

.blueberry {
    background: #4f86f7
}

.magenta-violet {
    background: #553592
}

.blue-green {
    background: #0d98ba
}

.blue-munsell {
    background: #0093af
}

.coquelicot {
    background: #ff3800
}